<!DOCTYPE html>
<html>
    <head>
    <!--<meta charset="utf-8">-->
    <style type="text/css">
		<!--
		body {
			background-image: url(/media/pic3.jpeg);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			background-repeat: no-repeat;
			}
			-->
	</style>
        <title>Create Album</title>
    </head>
    <body>
    {% if album_list %}
        <ul>
        {% for document in album_list %}
            <img src="/media/folder.png" style="width:64px;height:64px;">
            <li><a href="{% url 'upload' user_id document.album_name %}">{{ document.album_name }}</a></li>
            <form action="/delete_album/" method="post">
                <p><input type='hidden' name="id" value="{{ document.album_id }}"/></p>
                <p><input type='hidden' name="user_id" value="{{ document.user.user_id }}"/></p>
                <input type='submit' value='Delete'>
            </form>
            <!--<var>"document.album.name"</var>-->
        {% endfor %}
        </ul>
    {% else %}
         <p>No albums.</p>
    {% endif %}
    </form>
        <form action="{% url 'create_album' user_id %}" method='post'>
            <div >
                <label for='name'> Album name </label>
                <input type='text' name='name' value="{{ name }}" required>
                <input type='submit' value='Create' >
             </div>
        </form>
        <br>
        <form name="login" action="/login/" method='get'>
        <div>
            <input type='submit' value='SIGNOUT' >
        </div>
        </form>
    </body>
</html>