<!DOCTYPE html>
<html>
    <head>
    <!--<meta charset="utf-8">-->
    <style type="text/css">
		<!--
		body {
			background-image: url(/media/pic3.jpeg);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			background-repeat: no-repeat;
			}
			-->
	</style>
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <form action="{% url 'create_album' user_id %}" method='get'>
        <div>
            <input type='submit' value='HOME' >
        </div>
    </form>
    <!-- List of uploaded documents -->
    {% if image_list %}
        <ul>
        {% for document in image_list %}
            <!--<tr><a href="{{ document.image.url }}">{{ document.image.name }}</a></tr>-->
            <a href="{{ document.image.url }}">
                <img src="{{ document.image.url }}"  width="100" height="100";>
            </a>
            <form action="/delete_image/" method="post">
                <p><input type='hidden' name="id" value="{{ document.image_id }}"/></p>
                <p><input type='hidden' name="album_name" value="{{ document.album.album_name }}"/></p>
                <p><input type='hidden' name="user_id" value="{{ document.album.user.user_id }}"/></p>
                <input type='submit' value='Delete'>
            </form>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'upload' user_id album_name %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="hidden" name="album_name" value="{{ album_name }}"/></p>
            <p><input type="submit" value="Upload" /></p>
        </form>
        <form name="login" action="/login/" method='get'>
        <div>
            <input type='submit' value='SIGNOUT' >
        </div>
        </form>
    </body>
</html>


