<!DOCTYPE html>
<html>
    <head>
	<style type="text/css">
		<!--
		body {
			background-image: url(/media/login.jpg);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			background-repeat: no-repeat;
			}
			-->
	</style>
	<title style="color:skyblue;">Photo Gallery</title>
    </head>
    <body >
       <p>

		<h1 style="fond-family:courier; text-align:center;">Photo Gallery</h1>
		{{ state }}
        <form name="login" action="" method="post">

			<br><legend><strong>LOGIN</strong></legend>
			<br>
           Username:<input type="text" name="username" value="{{ username }}" required/><br>
			<br>
           Password:<input type="password" name="password" value="" required/><br>
			<br>
           <input type="submit" value="Log In" method="post">
		</form>
		   <br><br>
		   <strong>New User?</strong>
		   <br>
			<a href="/signup" > Create account</a>
		</p>
    </body>
</html>