<!DOCTYPE html>
<html>
    <head>
	<style type="text/css">
		<!--
		body {
			background-image: url(/media/login.jpg);
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			background-repeat: no-repeat;
			}
			-->
	</style>
	<title style="color:skyblue;">Photo Gallery</title>
    </head>
    <body >
       <p>

		<h1 style="fond-family:courier; text-align:center;">Photo Gallery</h1>
		{{ state }}
        <form name="signup" action="/signup/" method="post">
			<br>
			<legend><strong>Sign Up</strong></legend>
			<br>
           username:<input type="text" name="username" value="{{ username }}" required/><br>
			<br>
		   email:<input type="text" name="email" value="{{ email }}" required/><br>
			<br>
           password:<input type="password" name="password" value="" required/><br>
			<br>
           <input type="submit" value="Create" method="post">
		   <br>
        </form>

		</p>
    </body>
</html>